.Clients {
	background-image: url("../../assets/imgs/testmonial.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 10px 0 70px 0;
}

.sliderDescription {
	padding: 45px 50px;
	background-color: rgba(23, 31, 50, 0.59);
	border-radius: 5px;
}

.descriptTitle {
	text-align: center;
}

.descriptTitle > img {
	width: 66px !important;
	height: 66px;
	margin: 0 auto;
}

.descriptParag p {
	color: #fff;
	font-family: "rubik", sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: 400;
	text-align: center;
	line-height: 33px;
	padding-bottom: 75px;
	margin-top: 20px;
}

.slierAvatar {
	position: relative;
	padding-top: 40px;
}

.imgContent {
	height: 64px;
	width: 64px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: -40%;
	transform: translateX(-50%);
}

.name {
	font-family: nunito, sans-serif;
	font-size: 20px;
	color: #fff;
	display: block;
	font-weight: 700;
	line-height: 45px;
}

.nameSub {
	font-family: rubik, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

@media (max-width: 48em) {
	.sliderDescription {
		width: 100%;
		padding: 45px 30px;
	}
}


