.TitleWrapper {
    margin: 80px 0 50px 0;
}

.Subtitle {
	text-align: center;
}

.Subtitle span {
	font-weight: 400;
    margin: 0 0 10px;
    display: block;
    color: #00a85a;
    line-height: 28px;
    font-family: rubik,sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
} 

.Title h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38.2247px;
    line-height: 45px;
    color: #18377D;
    text-transform: uppercase;
}

@media (max-width: 560px) {
    .Subtitle span {
        font-size: 14px;
    }
    .Title h3 {
        width: 100% !important;
        text-align: center;
        font-size: 25px;
    }
}