.SelectCoursesItem {
	width: 100%;
	height: 460px;
	box-shadow: 0 0 30px #eee;
	background-color: #fff;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-bottom: 1rem;
	box-shadow: 0 0 8px 2px rgba(0,0,0,0.1);
	transition: all .8s ease;
}

.SelectCartImg {
	width: 100%;
	height: 220px;
	overflow: hidden;
	position: relative;

}

.resize {
	width: 100%;
	height: 100%;
	transition: all .3s ease;
	border-radius: 4px 4px 0 0;
	overflow: hidden;
}

.SelectCoursesItem:hover .resize {
	transform: scale(1.2);
}

.SelectCoursesItem.News:hover {
	transform: translateY(-10px);
}	

.resize img {
	border-radius: 4px 4px 0 0;
	width: 100%;
	height: 100%;
}

.SelectCartPrice {
	position: absolute;
	right: 20px;
	top: 20px;
	display: inline-block;
	padding: 3px 15px;
	background-color: rgb(255, 84, 33);
	font-family: "rubik", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	border-radius: 5px;
}

.SelectCartDescription {
	padding: 35px;
}

.SelectCartRaiting {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-flow: row nowrap;
}

.star {
	margin-right: 5px;
	color: rgb(255, 84, 33);
}

.starInfo span {
	font-size: rgb(51, 51, 51);
	font-family: "rubik", sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.SelectCartTitle {
	margin-top: 15px;
	margin-bottom: 10px;
}

.SelectCartTitle a {
	font-family: "nunito", sans-serif;
	font-size: 22px;
	letter-spacing: -1px;
	text-decoration: none;
	color: rgb(16, 16, 16);
	font-weight: 700;
	line-height: 30px;
	transition: all .4s ease;
}

.SelectCartTitle a:hover {
	color: #ff5421;
}

.SelectCartFooter {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
	border-top: 1px solid rgb(244, 240, 240);
	padding-top: 25px;
}

.SelectCartFooter > div{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
}

.SelectCartFooter > div > span:last-child {
	color: rgb(51, 51, 51);
	font-family: "rubik", sans-serif;
	font-size: 14px ;
	font-weight: 400;
}

.SelectCartFooter > div > span:first-child {
	display: inline-block;
	color: #ff5421;
	margin-top: 3px;
	margin-right: 5px;
	font-size: 14px ;
}

.SelectCartFooter > div > a {
	color: rgb(51, 51, 51);
	font-family: "rubik", sans-serif;
	font-size: 14px ;
	font-weight: 400;
	display: flex;
	align-items: center;
	text-transform: capitalize;
	transition: all .4s ease;
}

.SelectCartFooter > div > a:hover {
	color: #ff5421;
}

.SelectCartFooter > div > a > span {
	font-size: 15px;
	display: inline-block;
	margin: 3px 0 0 3px;
}

@media (max-width: 48em) {
	.SelectCartTitle a {
		font-size: 18px;
	}
}