.AboutInfo {
	padding-bottom: 10rem;
}

.cartItem {
	background-color: #F9F8F8;
	border-radius: 10px;
	transition: all .3s ease; 
	height: 264px;
	padding: 50px 10px 14px 10px;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.cartItem:hover {
	transform: translateY(-10px);
}


.iconContent img {
	width: 70px;
	height: 70px;
}

.TitleCart >span {
	display: block;
}

.TitleCart>.block span {
	font-family: nunito, sans-serif;
	font-size: 38px;
	font-weight: 700;
	color: rgb(16,16,16);
	margin-bottom: 5px;
	margin-top: 5px;
	display: inline-block;
}

.TitleCart > span:last-child {
	font-family: rubik, sans-serif;
	font-size: 22px;
	font-weight: 700;
	color: rgb(102,102,102);
}

@media (max-width: 48em) {
	.cartItem {
		margin: 0 auto;
		margin-bottom: 30px;
		width: 100%;
	}
}


.rightIlus {
	position: absolute;
	right: -10%;
	bottom: -110%;
	transition: all .6s ease;
}

.leftIlus {
	position: absolute;
	left: -10%;
	bottom: -110%;
	transition: all .6s ease;
}

.cartItem:hover > .rightIlus {
	right: 0;
	bottom: -10px;
}

.cartItem:hover > .leftIlus {
	left: 0;
	bottom: -10px;
}

.cartItem:hover {
	box-shadow: 2px 4px 21px rgba(147, 147, 147, 0.25);
}