.swiper {
  width: 100%;
  height: 750px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  pointer-events: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.BannerContent { 
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 750px;
  display: none;
  animation: item 1s linear;
  transition: all 1s ease-in-out;
  z-index: 9;
 }

 @keyframes item {
  0% {
    height: 0%;
    width: 100%;
  } 
  25% {
    height: 25%;
    width: 100%;
  }
  50% {
    height: 50%;
    width: 100%;
  }
  75% {
    height: 75%;
    width: 100%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
 }


.swiper-slide.swiper-slide-active .BannerContent {
  display: block;
 }

.TitleContent {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 8;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.TitleContent > span {
  display: none;
  font-size: 20px;
  color: #ff5421;
  font-family: "rubik", sans-serif;
  animation: subTitle 2s ease;
}

.swiper-slide.swiper-slide-active .TitleContent > span {
  display: block;
}


@keyframes subTitle{
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  25% {
    opacity: 0;
    transform: translateX(-10%);
  }
  50% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.TitleContent h2 {
  font-size: 52px;
  font-family: "nunito", sans-serif;
  color: #fff;
  margin: 20px 0;
  display: none;
  animation: title 3s ease;
  line-height: 4rem;
  font-weight: 900;
}

.swiper-slide.swiper-slide-active .TitleContent > h2 {
  display: block;
}

@keyframes title{
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  35% {
    opacity: 0;
    transform: translateX(-100%);
  }
  60% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.TitleContent > a {
  color: #fff;
  font-family: "rubik", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff5421;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  transition: all .4s ease-in-out 0s;
  border: 2px solid  #FF5421;
  animation: link 3s ease-in;
}

.TitleContent > a:hover {
  background-color: rgb(23, 31, 50);
  border: 2px solid rgb(23, 31, 50);
}
@keyframes link{
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  25% {
    opacity: 0;
    transform: translateY(200%);
  }
  80% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (max-width: 48em) {
  .TitleContent h2 {
      font-size: 28px;
      font-weight: 700;
       line-height: 36px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .BannerContent {
    background-position: 60%, 0;
    background-size: cover 750px;
  }
  .swiper {
    width: 100%;
    height: 90vh;
  }
}


.Opacity {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation: opacit 1s linear;
}


@keyframes opacit{
  0% {
    background-color: rgba(255,255,255,0.4);
  }
  25% {
     background-color: rgba(255,255,255,0.4);
  }
  80% {
     background-color: rgba(255,255,255,0.4);

  }
  100% {
     background-color: transparent;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .1);
  transition: all .4s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  width: 10px !important;
  color: #fff;
  font-size: 14px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-image: url("../../assets/imgs/slider-imgs/prev.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-button-next:active,
.swiper-button-prev:active {
   background-image: url("../../assets/imgs/slider-imgs/next.jpg");
}